.profile-background{
    width: 100%;
    min-height: 10rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.profile-background img{
    width: 100%;
}
#ordenador{
    width: 100vw;
    height: 75px;
}
.profile-background img {
    width: 100%;
    min-height: 30rem;
}
.profile-picture{
    margin-top: -75px;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid  #336;
    align-content: center;
    top: 30vh;
}
.profile-picture img{
    width: 150px;
    height: 150px;
}
.info-data {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    padding: 3px;
}

#info-name{
    font-size: 25px;
    text-decoration: none;
    line-height: 30px;
}

#info-description{
    font-size: 15px;
    text-decoration: none;
    line-height: 30px;
}