<div class="section-container">
    <app-info>
    </app-info>  
    <div class="container" id="second-section">
        <div class="about">
            <div id="about-title">
                <h2>Acerca de...</h2>
            </div>
            <app-edit-btn></app-edit-btn>
            <div id="about-text">
                <p>Desarrolador web full stack jr. dando sus primeros pasos y buscando sus primer trabajo en IT</p>
            </div>
            <!-- <div class="button" id="about__button">
                <button>Edit</button>
            </div> -->
        </div>
    </div>
    <div class="container" id="third-section">
        <div class="education">
            <div id="education-title">
                <h2>Educación</h2>
            </div>
            <div class="button" id="education__add-button">
                <button>Add</button>
            </div>
            <div id="education-card">
                <div class="education__img">
                    <img class="education-card__img" src="UTN_logo.jpg">
                </div>
                <div class="education-card__text">
                    <div class="education-card__institute">
                        <a href="#">Universidad Tecnológica Nacional</a>
                    </div>
                    <div class="education-card__title">
                        <p>Ingenieria en Sistemas (Incompleto)</p>
                    </div>
                    <div class="education-card__time">
                        <p>2019-2021</p>
                    </div>
                </div>
                <div class="education-card__buttons">
                    <button class="education-card__del-button">del</button>
                    <button class="education-card__edit-button">edit</button>
                </div>
            </div>
            <div id="education-card">
                <div class="education__img">
                    <img class="education-card__img" src="AP_logo.png">
                </div>
                <div class="education-card__text">
                    <div class="education-card__institute">
                        <a href="#">Argentina Programa</a>
                    </div>
                    <div class="education-card__title">
                        <p>Desarrolador web full-stack Junior</p>
                    </div>
                    <div class="education-card__time">
                        <p>2022-2023</p>
                    </div>
                </div>
                <div class="education-card__buttons">
                    <button class="education-card__del-button">del</button>
                    <button class="education-card__edit-button">edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="forth-section">
        <div class="experience">
            <div id="experience-title">
                <h2>Experiencia</h2>
            </div>
            <div class="button" id="experience__add-button">
                <button>Add</button>
            </div>
            <div id="experience-card">
                <div class="experience__img">
                    <img class="experience-card__img" src="OIA_logo.jpg">
                </div>
                <div class="experience-card__text">
                    <div class="experience-card__institute">
                        <a href="#">Olimpiadas Informáticas Argentina</a>
                    </div>
                    <div class="experience-card__title">
                        <p>Sexto Puesto</p>
                    </div>
                    <div class="experience-card__time">
                        <p>2014</p>
                    </div>
                </div>
                <div class="experience-card__buttons">
                    <button class="experience-card__del-button">del</button>
                    <button class="experience-card__edit-button">edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="fifth-section">
        <div class="proyects">
            <div id="proyects-title">
                <h2>Proyectos</h2>
            </div>
            <div class="button" id="proyects__add-button">
                <button>Add</button>
            </div>
            <div id="proyects-card">
                <div class="proyects-card__text">
                    <div class="proyects-card__institute">
                        <a href="#">NOMBRE DEL PROYECTO</a>
                    </div>
                    <div class="proyects-card__title">
                        <p>Descripción del proyecto</p>
                    </div>
                </div>
                <div class="proyects-card__buttons">
                    <button class="proyects-card__del-button">del</button>
                    <button class="proyects-card__edit-button">edit</button>
                </div>
            </div>
        </div>
    </div>
</div>