<form class="education-edit-form" (ngSubmit)="onSubmit()" *ngIf="showEditEducation">

    <div class="edit-form-container">
        <div class="form-control-edit">
            <input class="form__field-edit"
                type="text"
                name="institute"
                id="institute"
                placeholder="Instituto"
                [(ngModel)]="institute"
            >
            <label for="institute" class="form__label">Institute</label>
        </div>

        <div class="form-control-edit">
            <input class="form__field-edit"
                type="text"
                name="title"
                id="title"
                placeholder="Carrerra"
                [(ngModel)]="title"
            >
            <label for="title" class="form__label">Carrera</label>
        </div>

        <div class="form-control-edit">
            <input class="form__field-edit"
                type="text"
                name="time"
                id="time"
                placeholder="Tiempo"
                [(ngModel)]="time"
            >
            <label for="time" class="form__label">Período</label>
        </div>
    </div>

    <input type="submit" value="Confirmar" class="submit-button-edit">

</form>
