<div id="education-card">
    <div class="education__img">
        <img class="education-card__img" src="{{education.img_url}}">
    </div>
    <div class="education-card__text">
        <div class="education-card__institute">
            <p>{{education.institute}}</p>
        </div>
        <div class="education-card__title">
           <p>{{education.title}}</p>
        </div>
        <div class="education-card__time">
                    <p>{{education.time}}</p>
        </div>
    </div>
    <div class="education-card__buttons">
        <app-edit-btn></app-edit-btn>
        <app-delete-btn
        (click) = "onDelete(education)"
        >
        </app-delete-btn>
        <!-- <button class="education-card__del-button">del</button>
        <button class="education-card__edit-button">edit</button> -->
    </div>
</div>
