<mat-card class="education-card">
    <mat-card-content>
        <div class="card">
            <div class="img">
                <img mat-card-image [src]="education.imgurl">
            </div>
            <div class="text">
                <mat-card-title>{{education.institute}}</mat-card-title>
                <mat-card-title>{{education.title}}</mat-card-title>
                <mat-card-subtitle>{{education.time}}</mat-card-subtitle>
            </div>
            <div class="buttons" *ngIf="showEdit">
                <button mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab color="primary" (click)="onDelete(education)" ><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </mat-card-content>
</mat-card>

