.proyects{
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#proyects-title{
    grid-column: 1/7;
    height: fit-content;
}

#proyects-title h2{
    font-size: 22px;
}

#proyects__add-button{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    grid-column: 8/9;
}

.proyects-card-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    grid-column: 1/9;
    gap: 20px;
}