/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    min-height: 5rem;
    margin: 0px 5px 10px 5px;
    border-radius: 20px;
    border: 2px solid #336;
    width: 100%;
    min-width: 450px;
}
.profile-background{
    width: 100%;
    min-height: 10rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.profile-background img{
    width: 100%;
}
#ordenador{
    width: 100vw;
    height: 75px;
}
.profile-background img {
    width: 100vw;
    min-height: 30rem;
}
.profile-picture{
    margin-top: -75px;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid  #336;
    align-content: center;
    top: 30vh;
}
.profile-picture img{
    width: 150px;
    height: 150px;
}
.info-data {
    margin-bottom: 10px;
    margin-left: 25px;
    padding: 3px;
}

#info-name{
    font-size: 25px;
    text-decoration: none;
    line-height: 30px;
}

#info-title{
    font-size: 15px;
    text-decoration: none;
    line-height: 30px;
}

#about-title{
    padding: 5px;
    flex-grow: 8;
    order: 1;
}

#about-title h2{
    font-size: 22px;
}

#about-text {
    flex-grow: 8;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    order:3;
    flex-basis: 100%;
}
#about__button{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    order: 2;
    height: fit-content;
    flex-direction: row-reverse;
}
.about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
}

.education{
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#education-title{
    padding: 5px;
    flex-grow: 8;
    height: fit-content;
}
#education-title h2{
    font-size: 22px;
}

#education__add-button{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    flex-direction: row-reverse;
}
#education-card {
    flex-grow: 8;
    flex-basis: 100%;
    display: flex;
    padding: 3px;
}
.education__img{
    border: 2px solid #336;
    border-radius: 20%;
    overflow: hidden;
    align-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
}
.education__img img{
    width: 98%;
    height: 98%;
}
.education-card__text{
    flex-grow: 8;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.education-card__institute a{
    padding: 2px;
    text-decoration: none;
    color: #000;
}
.education-card__title{
    padding: 2px;
}
.education-card__time{
    padding: 2px;
}
.education-card__buttons{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    flex-direction: row-reverse;
}

.experience{
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#experience-title{
    padding: 5px;
    flex-grow: 8;
    height: fit-content;
}
#experience-title h2{
    font-size: 22px;
}

#experience__add-button{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    flex-direction: row-reverse;
}
#experience-card {
    flex-grow: 8;
    flex-basis: 100%;
    display: flex;
    padding: 3px;
}
.experience__img{
    border: 2px solid #336;
    border-radius: 20%;
    overflow: hidden;
    align-content: center;
    width: 5.5rem;
    height: 5.5rem;
}
.experience__img img{
    width: 98%;
    height: 98%;
}
.experience-card__text{
    flex-grow: 8;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experience-card__institute a{
    padding: 2px;
    text-decoration: none;
    color: #000;
}
.experience-card__title{
    padding: 2px;
}
.experience-card__time{
    padding: 2px;
}
.experience-card__buttons{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    flex-direction: row-reverse;
}

.proyects{
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#proyects-title{
    padding: 5px;
    flex-grow: 8;
    height: fit-content;
}
#proyects-title h2{
    font-size: 22px;
}

#proyects__add-button{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    flex-direction: row-reverse;
}
#proyects-card {
    flex-grow: 8;
    flex-basis: 100%;
    display: flex;
    padding: 3px;
}
.proyects-card__text{
    flex-grow: 8;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.proyects-card__institute a{
    padding: 2px;
    text-decoration: none;
    color: #000;
}
.proyects-card__title{
    padding: 2px;
}
.proyects-card__buttons{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    height: fit-content;
    flex-direction: row-reverse;
}
