.delete-button{
    display: flex;
    height: 25px;
    width: 25px;
}

.delete-button fa-icon{
    width: 25px;
    height: 25px;
    color: #336;
    cursor: pointer;
    transition: color 0.2s ease-out;
}

.delete-button fa-icon:hover {
    color: #000;
}

.delete-button fa-icon:active {
    scale: 0.9;
    color: #000;
}