.skills-card{
    margin-top: 10px;
    padding-left: 20px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.skills-title {
    font-size: 2rem;
    margin-top: 5px;
}

.title-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.buttons {
    margin-bottom: 15px;
}
.edit-btn {
    margin-right: 5px;
    margin-left: 5px;
}
.spinner{
    min-width: 100px;
}


