<form class="education-add-form" (ngSubmit)="onSubmit()" >

    <div class="form-control">
        <input class="form__field"
            type="text"
            name="name"
            id="name"
            placeholder="Nombre del proyecto"
            [(ngModel)]="name"
        >
        <label for="name" class="form__label">Período</label>
    </div>
    
    <div class="form-control">
        <input class="form__field"
            type="text"
            name="description"
            id="description"
            placeholder="Descripcion del proytecto"
            [(ngModel)]="description"
        >
        <label for="description" class="form__label">Institute</label>
    </div>

    <input type="submit" value="Agregar Experiencia" class="submit-button">
</form>
