<div class="container" id="first-section">
    <div class="profile-background">
        <img src="{{info.bannerurl}}">
    </div>
    <div id="ordenador">
        <div class="profile-picture">
            <img src="{{info.pfpurl}}">
        </div>
    </div>
    <div class="info-data">
        <div class="info-data__container">
            <h1 id="info-name">{{info.name}}</h1>
            <div id="info-description">{{info.description}}</div>
        </div>
    </div>
    <app-edit-btn></app-edit-btn>
</div>
