<div class="login">
        <h2 mat-card-title align="center" class="title">Iniciar Sesión</h2>
        <img mat-card-lg-image  src="https://assets.nationbuilder.com/themes/5fbd9b0645de9406b26f1d71/attachments/original/1553643295/login.png?1553643295" alt="">
        <div class="form-container">
            <mat-form-field appearance="fill" class="input">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" placeholder="Tu nombre de usuario" [(ngModel)]="user.username">
            </mat-form-field>
        </div>
        <div class="form-container">
            <mat-form-field appearance="fill" class="input">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Tu contraseña" [(ngModel)]="user.password">
            </mat-form-field>
        </div>
        <div class="button">
            <button class="confirm" mat-raised-button color="primary" (click)="verifyUser()">Confirmar</button>
            <button class="cancel" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
        </div>
</div>