.content-section {
    width: 100%;
}
.add-button{
    display: flex;
    align-self: flex-end;
}
.title-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-section {
    padding: 2%;
    width: 100%;
}
.skills-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;

}