.add-button{
    display: flex;
    height: 25px;
    width: 25px;
}

.add-button fa-icon{
    width: 25px;
    height: 25px;
    color: #336;
    cursor: pointer;
    transition: color 0.2s ease-out;

}

.add-button fa-icon:hover {
    color: #000;
}

.add-button fa-icon:active {
    scale: 0.9;
    color: #000;
}
