<h2 mat-dialog-title align="center">Agregar Nueva Educacion</h2>
<mat-divider></mat-divider>
<div class="addForm">
    <div class="form-container">
        <mat-form-field appearance="fill" class="input">
            <mat-label>Imagen</mat-label>
            <input placeholder="Copie aquí la dirección URL de la imagen" matInput [(ngModel)]="data.imgurl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Instituto</mat-label>
            <input matInput placeholder="Ej: Universidad de Buenos Aires" [(ngModel)]="data.institute">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Título</mat-label>
            <input matInput placeholder="Ej: Ingenieria en Sistemas de Información" [(ngModel)]="data.title">
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Período de tiempo</mat-label>
            <input matInput placeholder="Ej: 2018-Actualidad" [(ngModel)]="data.time">
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-content>
            <div class="card-preview">
                <div class="img">
                    <img *ngIf="data.imgurl" [src]="data.imgurl" alt="Imagen">
                </div>
                <div class="text">
                    <p mat-card-title>{{data.institute}}</p>
                    <p mat-card-title>{{data.title}}</p>
                    <p mat-card-subtitle>{{data.time}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="buttons">
    <button class="add"mat-raised-button color="primary" [mat-dialog-close]="data">Añadir</button>
    <button class="cancel" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>      
