<!-- <div id="proyects-card">
    <div class="proyects-card__text">
        <div class="proyects-card__institute">
            <p>{{project.name}}</p>
        </div>
        <div class="proyects-card__title">
            <p>{{project.description}}</p>
        </div>
    </div>
    <app-project-edit
        *ngIf="displayEditForm"
        (onEditedProject)="onEditedProject($event)"
        [projectid]="project.id"
    ></app-project-edit>
    <div class="proyects-card__buttons">
        <div class="delete-button">
            <fa-icon (click)="onDelete(project)" [icon]="faTrashCan" size="2x"></fa-icon>
        </div>
        <div class="edit-button">
            <fa-icon *ngIf="!displayEditForm" (click) = "toggleDisplayEditForm()" [icon]="faPenToSquare" size ="2x"></fa-icon>
            <fa-icon *ngIf="displayEditForm" (click) = "toggleDisplayEditForm()" [icon]="faXmarkCircle" size ="2x"></fa-icon>
        </div>
    </div>
</div> -->

<mat-card class="project-card">
    <mat-card-content>
        <div class="card">
            <div class="text">
                <div class="title">
                    <mat-card-title>{{project.name}}</mat-card-title><button mat-mini-fab color="primary" (click)="redirectToProject(project)"><mat-icon>link</mat-icon></button>
                </div>
                <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
            </div>
            <div class="buttons">
                <button mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab color="primary" (click)="onDelete(project)" ><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </mat-card-content>
</mat-card>